<style>
#nori {
  transform: translateX(-80px);
  animation: move 2s 2s linear infinite;
}
@keyframes move {
  0% {
    transform: translateX(-80px);
  }
  60% {
    transform: translateX(550px);
  }
  90% {
    transform: translateX(-80px);
  }
  100% {
    transform: translateX(-80px);
  }
}
#batman {
  transform: translate(400px, -100px);
}
#norbez {
  transform: translateY(-60px);
}

#bernoulli {
  transform: translate(950px, 550px);
}
#spiral{
  transform: translate(600px, 700px);
}
html,body{
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
 
}



#path{
  stroke:black;
  stroke-width: .2px;
  fill:none;
}
</style>


 <svg height="1000" width="2000" style="background: green">
 <defs>
    <linearGradient id="grad1" x1="0%" y1="0%" x2="100%" y2="0%">
      <stop offset="0%" style="stop-color:rgb(255,0,0);stop-opacity:1" />
      <stop offset="100%" style="stop-color:rgb(255,255,0);stop-opacity:1" />
    </linearGradient>
    <clipPath id="clip">
      <circle cx="75" cy="75" r="75"/>
    </clipPath>

  </defs>

 
 <rect width="2000" height="600" style="fill:blue;stroke-width:3;stroke:rgb(0,0,0)" />
  <ellipse cx="50" cy="0" rx="120" ry="120"
  style="fill:url(#grad1)" />
<g id="norbez">
<path d="M43.9,178.7q-18.7,27.7,-3,54" stroke="white" style="fill: none; stroke-width: 3px;" transform="matrix(0.692902 0.0416587 -0.0426324 0.709098 42.0444 69.2548)"/>
<path d="M330.8,157.7q12.2,28.2,0.3,54.5" stroke="white" style="fill: none; stroke-width: 3px;" transform="matrix(0.690108 -0.0714998 0.0714998 0.690108 25.4272 116.36)"/>
<path d="M43,170q48,-64,99,0" stroke="white" style="fill: none; stroke-width: 3px;" transform="matrix(0.694153 0 0 0.694153 34.9852 79.917)"/>
<path d="M373.2,195.8q53.1,-68,102.1,8.6" stroke="white" style="fill: none; stroke-width: 3px;" transform="matrix(-0.701032 -0.0770544 0.0770544 -0.701032 377.674 415.323)"/>
<path d="M141,170q48,-64,99,0" stroke="white" style="fill: none; stroke-width: 3px;" transform="matrix(0.694153 0 0 0.694153 35.6053 79.5184)"/>
<path d="M240,169q48,-64,90.8,6.6" stroke="white" style="fill: none; stroke-width: 3px;" transform="matrix(0.694153 0 0 0.694153 35.5547 79.8411)"/>
<path d="M283.9,193.5q48.8,-43.9,99.8,20" stroke="white" style="fill: none; stroke-width: 3px;" transform="matrix(-0.693921 0.0179127 -0.0179127 -0.693921 401.088 390.055)"/>
<path d="M176.6,259.4q52.7,-64,103.7,0" stroke="white" style="fill: none; stroke-width: 3px;" transform="matrix(-0.663259 0.204781 -0.204781 -0.663259 439.564 374.951)"/>
</g>
  <circle cx="300" cy="400" r="40" stroke="black" stroke-width="3" fill="red" />
 <circle cx="365" cy="400" r="25" fill="orange" />
  <circle cx="235" cy="400" r="25"  fill="orange" />
   <circle cx="300" cy="335" r="25" fill="orange" />
   <circle cx="300" cy="465" r="25" fill="orange" />
   <circle cx="255" cy="446" r="25" fill="orange" />
   <circle cx="345" cy="446" r="25" fill="orange" />
   <circle cx="345" cy="354" r="25" fill="orange" />
   <circle cx="254" cy="354" r="25"  fill="orange" />
   <line x1="274" y1="462" x2="274" y2="650" style="stroke:green;stroke-width:5" />
<g id="nori">
  <circle id="nor1" cx="500" cy="150" r="40" fill="white"/>
  <circle id="nor2" cx="450" cy="150" r="40" fill="white" />
  <circle id="nor3" cx="550" cy="150" r="40" fill="white" />
  <circle id="nor4" cx="600" cy="150" r="40" fill="white" />
  <circle id="nor5" cx="570" cy="170" r="40" fill="white" />
  <circle id="nor6" cx="475" cy="170" r="40" fill="white" />
  <circle id="nor7" cx="525" cy="175" r="40" fill="white" />
  <circle id="nor8" cx="475" cy="170" r="40" fill="white" />
  <g id="ploaie" fill="none" stroke="#9DB0DE" stroke-width="4" transform='rotate(90)' >
    <path stroke-dasharray="20,10,5,5,5,10" d="M5 20 l215 0" transform='translate(230 -580)'  />
    <path stroke-dasharray="20,0,5,5,5,10" d="M5 40 l215 0" transform='translate(240 -580)'/>
    <path stroke-dasharray="20,10,5,5,5,10" d="M5 60 l215 0" transform='translate(230 -580)'/>
    <path stroke-dasharray="20,0,5,5,5,10" d="M5 80 l215 0" transform='translate(240 -580)'/>
    <path stroke-dasharray="20,10,5,5,5,10" d="M5 100 l215 0" transform='translate(230 -580)'/>
  </g>
    </g>


<text x="100" y="650" style="fill:black;">Elemente folosite:
    <tspan x="100" y="670">- circle</tspan>
    <tspan x="100" y="690">- rect</tspan>
    <tspan x="100" y="710">- animation</tspan>
    <tspan x="100" y="730">- gradient</tspan>
    <tspan x="100" y="750">- line</tspan>
    <tspan x="100" y="770">- path</tspan>
    <tspan x="100" y="790">- quadratic bezier</tspan>
    <tspan x="100" y="810">- defs</tspan>
    <tspan x="100" y="830">- text</tspan>
    <tspan x="100" y="850">- elipse</tspan>
  </text>

  <text x="500" y="650" style="fill:black;">Spirala lui Fermat
    <tspan x="500" y="670">Am generat in javascript punctele dintr-un path cu ajutorul unei functii</tspan>
  </text>
  <g id="batman">
<ellipse cx="1140" cy="310"  stroke="black" style="stroke-width: 3px; fill: none;" rx="315" ry="139"/>
<path d="M1026,211q-250,86,-38,184" stroke="black" style="fill: none; stroke-width: 3px;"/>
<path d="M1253,210q249,84,44,183" stroke="black" style="fill: none; stroke-width: 3px;"/>
<path d="M987,394q-16,-109,89,-32" stroke="black" style="fill: none; stroke-width: 3px;"/>
<path d="M1297,392q24,-106,-87,-31" stroke="black" style="fill: none; stroke-width: 3px;"/>
<path d="M1210,360q-34,-77,-61,55" stroke="black" style="fill: none; stroke-width: 3px;"/>
<path d="M1076,361q34,-75,72,53" stroke="black" style="fill: none; stroke-width: 3px;"/>
<path d="M1025,212q5,95,84,37" stroke="black" style="fill: none; stroke-width: 3px;"/>
<path d="M1254,209q9,95,-80,40" stroke="black" style="fill: none; stroke-width: 3px;"/>
<polyline stroke="black" style="fill: none; stroke-width: 3px;" points="1109 247 1108 250 1112 193 1120 213"/>
<polyline stroke="black" style="fill: none; stroke-width: 3px;" points="1174 250 1157 191 1151 212"/>
<path d="M1120,212q18,-14,30,0" stroke="black" style="fill: none; stroke-width: 3px;"/>
</g>

 <text x="500" y="900" style="fill:black;">Lemniscata lui bernoulli este realizata din mai multe curbe bezier.
  <tspan x="500" y="920"> Cu culoarea portocaliu am indicat tangentele la curbe pentru a evidentia racordul.</tspan>
  <tspan x="500" y="940"> De asemenea norul din stanga si sigla cu batman sunt realizate tot din curbe bezier.</tspan>
  </text>

<g id="bernoulli">
<rect x="362" y="92" stroke="black" style="stroke-width: 3px;" width="484" height="270" fill="none"/>
<line x1="600" y1="120" x2="600" y2="330" stroke="black" style="stroke-width: 3px; fill: none;"/>
<line x1="372" y1="227" x2="834" y2="227" stroke="black" style="stroke-width: 3px; fill: none;"/>
<circle cx="600" cy="226" style="stroke-width: 3px;" r="110.385687478" fill="none" stroke="red"/>

<path d="M600,227q103.7,-118,110.5,1" stroke="yellow" style="fill: none; stroke-width: 3px;"/>
<line x1="600" y1="227" x2="482" y2="117" stroke="orange" style="stroke-width: 3px; fill: none;"/>

<path d="M601,228q103,112,109.4,-0.9" stroke="yellow" style="fill: none; stroke-width: 3px;"/>
<line x1="601" y1="228" x2="713" y2="337" stroke="orange" style="stroke-width: 3px; fill: none;"/>

<path d="M601.36,227.3q-107,-114.8,-112.1,-0.7" stroke="yellow" style="stroke-width: 3px; fill: none;" />

<path d="M489,226.6q4.9,105.1,111.3,1" stroke="yellow" style="fill: none; stroke-width: 3px;"/>
</g>


<g id="spiral">
<circle cx="75" cy="75" fill="#eee" r="75"/>
  <path id="path" stroke-linecap="butt" clip-path="url(#clip)">
</g>
</svg> 

<script type="text/javascript">
var path = document.getElementById('path');

var roundTo = function (input, sigdigs) {
  return Math.round(input * Math.pow(10, sigdigs) ) / Math.pow(10, sigdigs);
}

var makeSpiralPoints = function(origin, revolutions, pointCount, clockwise, padding){
  var direction = clockwise ? 1 : -1;
  var circ = padding / (2 * Math.PI);
  var step = (2 * Math.PI * revolutions) / pointCount;
  var points = [], angle, x, y;
  for (var i = 0; i <= pointCount ; i++){
    angle = direction * step * i;
    x = roundTo((circ * angle) * Math.cos(angle) + origin.x, 2);
    y = roundTo((circ * angle) * Math.sin(angle) + origin.y, 2);
    points.push(x + " " + y);
  }
  
  return('M ' + points.shift() + ' S ' + points.join(' '));
}

path.setAttribute('d', makeSpiralPoints({x:75,y:75},20, 2048, false, 4));
</script>